* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #990909FF;

}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.waiting {
  background-color: black;
  padding: 45px 0 45px 0;
}

.waiting .wrapper { 
  background-color: black;
}

.waiting .wrapper .navi {
  display: inline-block;
  background-color: black;
  }

.descr {
  background-color: black;
  color: white;
  text-align: center;
}

img {
  margin: 0 100px 0 87px;
}
